.div_index1{


padding: 0;

background-color: #1a1a1e;



}

body{

margin: 0; padding: 0;

background-color: #121214;

}

.tabla1{

border-collapse: collapse;

}

.h1ra{

margin: 0;
color: wheat;


}

.er-tr-td{

background-color: #26262b;

border: solid 3px #3a3a42;

padding: 4px;

}
.er-tr-td-ahora{

background-color: #00adb5;

border: solid 3px #3a3a42;

padding: 4px;

}
.a1{

    text-decoration: none;
    color: wheat;

}

.titulo{

color: gray;

text-align: center;

font-size: 60px;

}

.tabla2{

border-collapse: collapse;

margin: 0 auto;



}

.er-tr-td2{

background-color: #26262b;

border: solid 3px #3a3a42;

padding: 4px;

text-align: center;

}

.idjuegos{

color: gray;

text-align: center;

font-size: 60px;

}

footer{


text-align: center;
color: wheat;

}